# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [2]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [11]:
display(data.head())
data.shape

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

(68584, 7)

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [73]:
#bycust = pd.pivot_table(data, values='Quantity', aggfunc='sum', index='CustomerID', columns=data.columns)

qPerCust = data.groupby(['CustomerID', 'ProductID', 'ProductName'], as_index=False).agg({'Quantity': 'sum'})
qPerCust.head()

   CustomerID  ProductID                      ProductName  Quantity
0          33         23          Crab - Imitation Flakes         1
1          33         51       Wine - Crozes Hermitage E.         1
2          33         53                           Cassis         1
3          33         67       Wine - Sogrape Mateus Rose         1
4          33         70  Squid - Tubes / Tenticles 10/20         1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [20]:
pivotT = pd.pivot_table(qPerCust, columns='CustomerID', index='ProductID', values='Quantity', aggfunc='sum')
pivotT.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductID,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,25.0
2,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,...,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
pivotT.fillna(0, inplace=True)

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [55]:
pdist(pivotT)

array([256.56578104, 257.46067661, 260.43809245, ..., 268.19582398,
       253.71243564, 261.21829951])

In [56]:
distances = pd.DataFrame(1/(1 + squareform(pdist(pivotT.T, 'euclidean'))), 
                         index=pivotT.columns, columns=pivotT.columns)

In [57]:
distances.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [70]:
similarto669 = distances[669].sort_values(ascending=False, na_position='last')[1:6]
similarto669

CustomerID
3535    0.084959
3317    0.083651
639     0.083020
1008    0.082100
3305    0.081800
Name: 669, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [74]:
productsPurchased = qPerCust[qPerCust.CustomerID.isin(similarto669.keys())]
productsPurchased.head()

     CustomerID  ProductID                 ProductName  Quantity
452         639          1         Flour - Whole Wheat         1
453         639          4  Sauce - Gravy, Au Jus, Mix         1
454         639          8            Halibut - Steaks         1
455         639         13                  Water, Tap         1
456         639         25     Soupcontfoam16oz 116con         1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [80]:
allprods669 = productsPurchased.groupby('ProductName').agg({'Quantity':'sum'}).sort_values(by='Quantity', ascending=False)
allprods669.head()

                               Quantity
ProductName
Veal - Inside, Choice                 4
Sardines                              3
Sauce - Gravy, Au Jus, Mix            3
Wine - Ej Gallo Sierra Valley         3
Cheese - Cambozola                    3

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [88]:
merged = productsPurchased.merge(allprods669, on='ProductName')
merged.head()

   CustomerID  ProductID                 ProductName  Quantity_x  Quantity_y
0         639          1         Flour - Whole Wheat           1           1
1         639          4  Sauce - Gravy, Au Jus, Mix           1           3
2        1008          4  Sauce - Gravy, Au Jus, Mix           1           3
3        3317          4  Sauce - Gravy, Au Jus, Mix           1           3
4         639          8            Halibut - Steaks           1           2

In [89]:
merged.drop(columns='Quantity_x', inplace=True)

Index(['CustomerID', 'ProductID', 'ProductName', 'Quantity_y'], dtype='object')

In [93]:
merged.rename(columns={'Quantity_y':'quantity'}, inplace=True)

In [107]:
mergedNotPurchased = merged[merged.CustomerID != 639]
topAndQ = mergedNotPurchased.groupby('ProductName').agg({'quantity':'sum'}).sort_values(by='quantity', ascending=False)[:5]
topAndQ

                               quantity
ProductName
Veal - Inside, Choice                12
Wine - Blue Nun Qualitatswein         9
Pepper - Black, Whole                 6
Sauce - Gravy, Au Jus, Mix            6
Wine - Ej Gallo Sierra Valley         6

In [111]:
top = mergedNotPurchased.groupby('ProductName').agg({'quantity':'sum'}).sort_values(by='quantity', ascending=False)[:5].index
list(top)

['Veal - Inside, Choice',
 'Wine - Blue Nun Qualitatswein',
 'Pepper - Black, Whole',
 'Sauce - Gravy, Au Jus, Mix',
 'Wine - Ej Gallo Sierra Valley']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [118]:
def getReccomendations(customerID):
    similartoCustID = distances[customerID].sort_values(ascending=False, na_position='last')[1:6]
    productsPurchased = qPerCust[qPerCust.CustomerID.isin(similartoCustID.keys())]
    allprodscustomer = productsPurchased.groupby('ProductName').agg({'Quantity':'sum'}).sort_values(by='Quantity', ascending=False)
    merged = productsPurchased.merge(allprodscustomer, on='ProductName')
    mergedNotPurchased = merged[merged.CustomerID != customerID]
    top = mergedNotPurchased.groupby('ProductName').agg({'Quantity_y':'sum'}).sort_values(by='Quantity_y', ascending=False)[:5].index
    return list(top)

In [119]:
getReccomendations(33)

['Wine - Blue Nun Qualitatswein',
 'Soup - Campbells Bean Medley',
 'Towels - Paper / Kraft',
 'Butter - Unsalted',
 'Pepper - Black, Whole']

In [122]:
custAndProducts = {}
for customer in distances.index:
    custAndProducts[customer] = getReccomendations(customer)

In [131]:
#custAndProducts

In [132]:
len(custAndProducts)

1000

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [135]:
pd.DataFrame.from_dict(custAndProducts, orient='index')

,0,1,2,3,4
33,Wine - Blue Nun Qualitatswein,Soup - Campbells Bean Medley,Towels - Paper / Kraft,Butter - Unsalted,"Pepper - Black, Whole"
200,Soup - Campbells Bean Medley,Wanton Wrap,Lamb - Ground,Muffin - Carrot Individual Wrap,"Pepper - Black, Whole"
264,Soupfoamcont12oz 112con,"Fish - Scallops, Cold Smoked",Potatoes - Idaho 100 Count,Wine - Two Oceans Cabernet,Wine - Blue Nun Qualitatswein
356,"Veal - Inside, Choice",Wine - Blue Nun Qualitatswein,"Tart Shells - Sweet, 4",Potatoes - Idaho 100 Count,Beef - Inside Round
412,Olive - Spread Tapenade,Wine - Blue Nun Qualitatswein,Sprouts - Baby Pea Tendrils,Soup - Campbells Bean Medley,"Veal - Inside, Choice"
...,...,...,...,...,...
97928,Bouq All Italian - Primerba,"Cheese - Brie,danish",Tea - Jasmin Green,Bacardi Breezer - Tropical,Shrimp - 31/40
98069,Skirt - 29 Foot,Chocolate - Dark,Sprouts - Baby Pea Tendrils,Mustard Prepared,Sugar - Fine
98159,Chips Potato All Dressed - 43g,"Lamb - Whole, Fresh",Table Cloth 81x81 White,"Ice - Clear, 300 Lb For Carving",Curry Paste - Madras
98185,Halibut - Steaks,Cod - Black Whole Fillet,Chicken - Wieners,Turkey - Oven Roast Breast,Wine - Pinot Noir Latour
98200,Sea Bass - Whole,Sherry - Dry,Ecolab - Mikroklene 4/4 L,"Soup - Campbells, Cream Of",Apricots - Halves

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [136]:
distances = pd.DataFrame(1/(1 + squareform(pdist(pivotT.T, 'jaccard'))), 
                         index=pivotT.columns, columns=pivotT.columns)

In [137]:
custAndProducts2 = {}
for customer in distances.index:
    custAndProducts2[customer] = getReccomendations(customer)

pd.DataFrame.from_dict(custAndProducts2, orient='index')

,0,1,2,3,4
33,Loquat,Tea - Jasmin Green,Bananas,Quiche Assorted,Cheese Cloth No 100
200,Muffin - Carrot Individual Wrap,"Beans - Kidney, Canned",Beef Ground Medium,Wine - Gato Negro Cabernet,Olives - Stuffed
264,Wine - Two Oceans Cabernet,Sauce - Demi Glace,Flavouring - Orange,Grouper - Fresh,Lettuce - Spring Mix
356,"Veal - Inside, Choice",Potatoes - Idaho 100 Count,Bread - Italian Roll With Herbs,Corn Meal,"Tart Shells - Sweet, 4"
412,Wine - Wyndham Estate Bin 777,Curry Paste - Madras,Scallop - St. Jaques,Wonton Wrappers,Banana - Leaves
...,...,...,...,...,...
97928,Pernod,Pastry - Choclate Baked,Tray - 16in Rnd Blk,"Wine - White, Mosel Gold",Table Cloth 81x81 White
98069,Spinach - Baby,Tea - Jasmin Green,Bread - French Baquette,Cheese - Parmesan Cubes,Tuna - Salad Premix
98159,Chocolate - Compound Coating,Oil - Shortening - All - Purpose,"Wine - White, Mosel Gold",Apricots - Halves,Mustard Prepared
98185,"Nut - Pistachio, Shelled",Cheese - Cheddarsliced,"Cheese - Brie,danish","Pasta - Detalini, White, Fresh",Juice - Apple Cider
98200,Wasabi Powder,Muffin - Carrot Individual Wrap,Wine - Magnotta - Belpaese,"Rum - Coconut, Malibu","Pasta - Detalini, White, Fresh"