## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [147]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [148]:
# Your code here
sample_list_1=random.sample(range(101),80)
print(sample_list_1)

[12, 35, 80, 82, 99, 0, 83, 77, 95, 50, 45, 18, 78, 60, 42, 53, 6, 40, 49, 72, 79, 44, 1, 38, 69, 57, 84, 10, 52, 97, 67, 93, 34, 23, 3, 4, 66, 24, 75, 74, 48, 100, 33, 41, 26, 85, 36, 15, 29, 63, 27, 9, 89, 37, 87, 58, 2, 73, 64, 81, 43, 19, 62, 17, 54, 91, 5, 86, 7, 76, 16, 8, 22, 61, 96, 32, 71, 47, 98, 31]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [149]:
# Your code here
set1=set(sample_list_1)

print(len(set1))
print(set1)
# Is the lenght still 80?
len(set1)==80

80
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 15, 16, 17, 18, 19, 22, 23, 24, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 52, 53, 54, 57, 58, 60, 61, 62, 63, 64, 66, 67, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 91, 93, 95, 96, 97, 98, 99, 100}

True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [150]:
# Your code here
sample_list_2=[]
for e in range(80):
    sample_list_2.append(random.randint(0,100))
    
print(sample_list_2)

[83, 28, 49, 56, 19, 89, 35, 9, 46, 87, 79, 35, 44, 16, 14, 31, 64, 49, 11, 39, 53, 98, 31, 6, 16, 17, 6, 53, 10, 82, 66, 17, 70, 99, 38, 98, 77, 99, 25, 55, 76, 56, 7, 94, 21, 75, 86, 51, 58, 90, 59, 52, 75, 59, 14, 54, 44, 68, 96, 85, 40, 69, 20, 98, 2, 0, 71, 67, 79, 38, 23, 96, 36, 61, 88, 100, 99, 76, 46, 30]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [151]:
# Your code here
set2=set(sample_list_2)
print(set2)
print(len(set2))

# The lenght is no longer 80, since the numbers do not have to be unique - and the set will only be as long as 
# the number of unique numbers.

{0, 2, 6, 7, 9, 10, 11, 14, 16, 17, 19, 20, 21, 23, 25, 28, 30, 31, 35, 36, 38, 39, 40, 44, 46, 49, 51, 52, 53, 54, 55, 56, 58, 59, 61, 64, 66, 67, 68, 69, 70, 71, 75, 76, 77, 79, 82, 83, 85, 86, 87, 88, 89, 90, 94, 96, 98, 99, 100}
59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [152]:
# Your code here
# Method 1
set_union=set1.union(set2)
set3=set_union-set2
print(set3)

{1, 3, 4, 5, 8, 12, 15, 18, 22, 24, 26, 27, 29, 32, 33, 34, 37, 41, 42, 43, 45, 47, 48, 50, 57, 60, 62, 63, 72, 73, 74, 78, 80, 81, 84, 91, 93, 95, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [153]:
# Your code here
set_union=set2.union(set1)
set4=set_union-set1
print(set4)

{68, 70, 39, 88, 11, 14, 46, 51, 20, 21, 94, 55, 56, 25, 90, 59, 28, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [154]:
# Your code here
set5=set2.intersection(set1)
print(set5)

{0, 2, 6, 7, 9, 10, 16, 17, 19, 23, 31, 35, 36, 38, 40, 44, 49, 52, 53, 54, 58, 61, 64, 66, 67, 69, 71, 75, 76, 77, 79, 82, 83, 85, 86, 87, 89, 96, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [155]:
len1=len(set1)
len2=len(set2)
len3=len(set3)
len4=len(set4)
len5=len(set5)

# Formula that represents the relationship between sets:
len3+len5+len4==len1+len2-len5

True

#### Create an empty set called `set6`.

In [156]:
# Your code here
set6=set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [157]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 15, 16, 17, 18, 19, 22, 23, 24, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 52, 53, 54, 57, 58, 60, 61, 62, 63, 64, 66, 67, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 91, 93, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [158]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [159]:
# Your code here
print("Does set1 contain set2?",set1.issubset(set2))
print("Does set1 contain set3?",set1.issubset(set3))

Does set1 contain set2? False
Does set1 contain set3? False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [160]:
# Your code here
set7=set3.union(set4,set5)
print(set7)
set8=set1.union(set2)
print(set8)
set7==set8

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

True

#### Using the `pop` method, remove the first element from `set1`.

In [161]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [163]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for e in list_to_remove:
    set1.discard(e)
    
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 15, 16, 17, 18, 22, 23, 24, 26, 27, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 47, 48, 50, 52, 53, 54, 57, 58, 60, 62, 63, 64, 66, 67, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 93, 95, 96, 97, 98, 100}